# Dependencies
node_modules/
*/node_modules/

# Environment variables & secrets
.env
*.env
backend/.env

# Local Embedded Database files
data/
*.db
*.sqlite
*.sqlite-wal
*.sqlite-shm

# Build output
build/
frontend/build/
dist/

# Uploads & PDF Documents
uploads/
backend/uploads/
*.pdf

# OS & Logs
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
